/* CSS for SimLab */

body {
	background-color: white;
}

#logo, #tour, #menu, #main, #notes {
	float: left;
}

#tour {
	padding: 20px;
	vertical-align: bottom;
	border-radius:10px;
	-moz-border-radius:10px; /* Firefox 3.6 and earlier */	
	background-color: #E3E0E0;
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
	font-weight: bold;
}

#menu {
	/*position: relative;
	top: 100px;*/
	width: 15%;
	padding: 10px;
	height: 100%;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */	
	background-color: #E3E0E0;

}

#main {
	padding: 10px;
	width: 60%;
	border: 2px black solid;
}


#notes {
	width: 10%;
	height: 300px;
	padding: 10px;
}


#leftSide, #rightSide {
	float: left;
	width: 45%;
	padding: 10px;

}


#rightSide {
	border-left: 2px black solid;
}

#footer {
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	background-color: white;
	

}

#build, #experiment /*, #wiringDiagram */{
	padding: 15px;
	border:2px solid;
	border-radius:15px;
	-moz-border-radius:15px; /* Firefox 3.6 and earlier */
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
	background-color: white;
	
}

*[name=wiring] {
	padding: 15px;
	border:2px solid;
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
}



#footer {
	float: left;
	font-size: 12px;
}

#intro {
	font-weight: bold;
	clear: left;
}

/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}


ul, li, ul li a {
	display: block;
	list-style: none;
	text-decoration: none;
	padding-left: 4px;
	/*width: 100%;
	margin: 0;
	padding-left: 4px;
	color: #ffffff;
	font-weight: bold;
	background-color: #87714a;
	border: 1px #666666 outset;*/

	

}

ul li a:hover { 
	color: #4ba513;
}

