/* CSS for SimLab */




#menu {
	position: relative;
	top: 100px;
	float: left;
	width: 15%;
	padding: 10px;
}

#main {
	float: left;
	padding: 10px;
	width: 65%;
}


#leftSide, #rightSide {
	float: left;
	width: 45%;
	padding: 10px;

}


#rightSide {
	border-left: 2px black solid;
}

#footer, #header {
	border-top: 2px black solid;
	border-bottom: 2px black solid;

}

#header {
	position: static;
}

#footer {
	float: left;
}

/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

#notes {
	float: left;
	width: 10%;
	height: 500px;
	padding: 20px;
	background-image: url("./notepad.jpg");
	/*background-attachment: fixed;
    /*background-position: 100% 100%;*/
    background-repeat: no-repeat;
}